@model IEnumerable<MedicalClinic.Models.Medic.Patient.PatientModel>
@using GridMvc.Html

<meta name="viewport" content="width=device-width" />
<link href="@Url.Content("~/Content/grid/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.customwidgets.js")" type="text/javascript"> </script>

@Html.Partial("_Menu")

<div class="page-header">
    <h4 id="tables">Pacienti</h4>
</div>

@Html.Grid(Model).Named("usersGrid").Columns(columns =>
{
    columns.Add(u => u.CurrentIndex)
        .Titled("#")
        .Filterable(false);
    columns.Add(u => u.FullName)
        .Titled("Nume Intreg")
        .Filterable(true);
    columns.Add(u => u.PersonalId)
        .Titled("Cnp")
        .Filterable(true);
    columns.Add(u => u.PhoneNumber)
        .Titled("Numar Telefon")
        .Filterable(true);
    columns.Add(u => u.Email)
        .Titled("Adresa de email")
        .Filterable(true);
    columns.Add(u => u.BirthDate)
        .Titled("Data de nastere")
        .Filterable(true);
}).WithPaging(7).Sortable().Filterable().WithMultipleFilters()