@model IEnumerable<MedicalClinic.Models.Medic.Appointment.AppointmentModel>
@using GridMvc.Html

<meta name="viewport" content="width=device-width" />
<link href="@Url.Content("~/Content/grid/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.customwidgets.js")" type="text/javascript"> </script>

@Html.Partial("_Menu")

<div class="page-header">
    <h4 id="tables">Programarile cu acceleasi specializari ca si tine</h4>
</div>

@Html.Grid(Model).Named("usersGrid").Columns(columns =>
{
    columns.Add(u => u.CurrentIndex)
        .Titled("#")
        .Filterable(false);
    columns.Add(u => u.UserModel.FullName)
        .Titled("Nume Medic")
        .Filterable(true);
    columns.Add(u => u.PatientModel.FullName)
        .Titled("Nume Pacient")
        .Filterable(true);
    columns.Add(u => u.Description)
        .Titled("Descrire Intalnire")
        .Filterable(true);
    columns.Add(u => u.Diagnostic)
        .Titled("Primul Diagnostic")
        .Filterable(true);
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(u =>
            @<b>
                @Html.ActionLink("Vezi intalnire", "ViewAppointment", new { appointmentId = u.Id, toId = u.UserModel.Id }, new { @class = "modal_link" })
            </b>).Filterable(false); ;
}).WithPaging(7).Sortable().Filterable().WithMultipleFilters()